<!DOCTYPE html>
<html>
<head>
    <title>GeneAssassin domains API</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>GeneAssassin domains API</h1>

<p>this is the <a href="/">home page</a></p>

<p>
    You can fetch protein domains in a genomic region by quering
    <a href="chromosome">this url</a> and make sure to provide start/end query parameters.
</p>

</body>
</html>
